<%- include('includes/head'); %>

<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-2"></div>

    <div class="col-8 my-3">
      <h1 class="display-1 text-center">Contato</h1>
      <p class="text-center lead">Crie ou edite o seu contato abaixo.</p>

      <%- include('includes/messages') %>

      <% if (contact._id) { %>
        <form action="/contact/edit/<%= contact._id %>" method="POST">
      <% } else { %>
        <form action="/contact/register" method="POST">
      <% } %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        
        <div class="mb-3">
          <label for="registerNameContact" class="form-label">Nome: </label>
          <input value="<%= contact.name %>" type="text" class="form-control" id="registerNameContact" name="name">
        </div>

        <div class="mb-3">
          <label for="registerSurnameContact" class="form-label">Sobrenome: </label>
          <input value="<%= contact.surname %>" type="text" class="form-control" id="registerSurnameContact" name="surname">
        </div>

        <div class="mb-3">
          <label for="registerEmailContact" class="form-label">Email: </label>
          <input value="<%= contact.email %>" type="email" class="form-control" id="registerEmailContact" name="email">
        </div>

        <div class="mb-3">
          <label for="registerTelContact" class="form-label">Telefone: </label>
          <input value="<%= contact.tel %>" type="tel" class="form-control" id="registerTelContact" name="tel">
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>


    <div class="col-2"></div>
  </div>
</div>

<%- include('includes/footer'); %>
