<%- include('includes/head'); %>

<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-2"></div>

    <div class="col-8 my-3">
      <h1 class="display-1 text-center">Criar conta ou Entrar</h1>
      <p class="text-center lead">Faça login ou crie a sua conta</p>

      <%- include('includes/messages'); %>
      
      <div class="row">
        <div class="col-lg">
          <h4>Cadastre-se</h4>
          <p>
            Se você ainda não tem conta, preencha o formulário abaixo.
          </p>

          <form action="/login/register" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            
            <div class="mb-3">
              <label for="registerEmail" class="form-label">Seu e-mail: </label>
              <input type="email" class="form-control" id="registerEmail" name="email" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
              <label for="registerPassword" class="form-label">Sua senha:</label>
              <input type="password" class="form-control" id="registerPassword" name="password">
            </div>

            <button type="submit" class="btn btn-primary">Criar Conta</button>
          </form>
        </div>

        <div class="col-lg">
          <h4>Entrar no Sistema</h4>
          <p>
            Se você já tem uma conta, preencha o formulário abaixo.
          </p>

          <form action="/login/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

            <div class="mb-3">
              <label for="loginEmail" class="form-label">Seu e-mail: </label>
              <input type="email" class="form-control" id="loginEmail" name="email" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
              <label for="loginPassword" class="form-label">Sua senha:</label>
              <input type="password" class="form-control" id="loginPassword" name="password">
            </div>

            <button type="submit" class="btn btn-primary">Entrar na Conta</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-2"></div>
  </div>
</div>

<%- include('includes/footer'); %>
